@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
    margin: 94px 12px;
    background: rgb(246,68,69);
    background: linear-gradient(90deg, rgba(246,68,69,1) 0%, rgba(171,56,111,1) 60%, rgba(117,51,156,1) 100%);
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.search-bar {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 20px;
}

.search-bar > .fa-search {
    border-bottom: 1px solid #ccc;
    color: inherit;
    font-size: 20px;
    padding: 12px;
    opacity: 0.7;
}
.search-bar > input {
    opacity: 0.7;
    width: 600px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    color: inherit;
    font-size: 28px;
}

.container {
    max-width: 600px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.card {
    background-color: #181818;
    color: #f0f0f0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 12px 0;
    padding: 20px 24px;
    display: flex;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.card > .img-container {
    width: 30%;
    height: auto;
    margin-right: 20px;
}

.card > .img-container > img {
    width: 100%;
    height: auto;
}

.card > .right-side {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.card .hero-name {
    margin: 0;
    font-family: 'Permanent Marker', cursive;
}

.card .button-row {
    display: flex;
    justify-content: flex-end;
}

.card .button .text, .card .button2 .text {
    transform: skewX(20deg);
}

.card .button:hover, .card .button2:hover {
    background-size: 100% 100%;
}

.card .button {
    background-size: 0 100%;
    /* background-image: linear-gradient(to left, #f64445, #75339c); */
    background-image: linear-gradient(to left, #75339c, #75339c);
    background-repeat: no-repeat;
    transition: all 0.5s;
    display: inline-block;
    cursor: pointer;
    padding: 4px 10px;
    padding-bottom: 6px;
    font-size: 12px;
    color: white;
    background-color: #f64445;
    transform: skewX(-20deg);
    margin-right: 14px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.card .button2 {
    background-size: 0 100%;
    background-image: linear-gradient(to left, #f64445, #75339c);
    /* background-image: linear-gradient(to left, #75339c, #75339c); */
    background-repeat: no-repeat;
    transition: all 0.5s;
    display: inline-block;
    cursor: pointer;
    padding: 4px 10px;
    padding-bottom: 6px;
    font-size: 12px;
    color: white;
    background-color: #f64445;
    transform: skewX(-20deg);
    margin-right: 14px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.spinner {
    display: flex;
    justify-content: center;
}

.spinner > i{
    margin: 42px;
    display: none;
    animation: spin 2s linear 0s infinite;
    font-size: 32px;
    color: white;
    opacity: 0.7;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
